<div class="container-fluid py-5 px-5">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-12 border py-4 card">
            <form [formGroup]="userCreationForm" (ngSubmit)="onSubmit()">
                <h3>Signup</h3>
                <div class="form-group">
                    <label for="userName">Username:</label>
                    <input type="text" class="form-control" formControlName="username" id="userName" placeholder="Enter Username">
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="userPass">First Name:</label>
                            <input type="text" class="form-control" formControlName="firstName" id="userFirstName" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="userPass">Last Name:</label>
                            <input type="text" class="form-control" formControlName="lastName" id="userLastName" placeholder="Enter Last Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="userPass">Password:</label>
                            <input type="password" class="form-control" formControlName="password" id="userPass" placeholder="Enter Password">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="userPass">Confirm Password:</label>
                            <input type="password" class="form-control" id="userConfirmPass" placeholder="Enter Your Password Again">
                        </div>
                    </div>
                </div>
                <div class="login-button">
                    <button type="submit" class="btn add-to-cart">Signup</button>
                    <small>Already have an account? <a href="login.html">Log In</a></small>
                </div>
            </form>
        </div>
    </div>
</div>